<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HLFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HLiOS2Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MoueeFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MoueeiOS2Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>appMakerResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2917615219654DAD00B6A2F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB2143D171AB6920020CFE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB217FA171AE37A0020CFE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C30254011851BFD700A4DD9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C30254221851BFD800A4DD9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
